body{
    height: 95vh; /*parte que fica a cima no documento*/
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#ff7300;
    background: rgb(248, 248, 168);  
}


h2{
    /*background-color: white;*/
    border-bottom: 0px;
    width: 100%;
    text-align: center;
}
